/*

*/

    /* SINGLE PRODUCT */

    .ws_single_product-popup {
        position: fixed;
        background: #ffffff;
        bottom: 1em;
        right: 1em;
        padding: 1em;
        border: 2px solid #000000;
        border-radius: 1em;
        box-shadow: 0 0 12px rgba(0,0,0,0.7);
    }

/* ANIMATIONS */

.ws-slide-in {
    right: -500px;
    -webkit-animation: ws-slide-in 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: ws-slide-in 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes ws-slide-in {
    100% { right: 1em; }
}

@keyframes ws-slide-in {
    100% { right: 1em; }
}